{% extends 'base.html' %}
{% block navigation %}
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Новости игр</a>
        <a class="nav-link" href="/reviews">Обзоры игр</a>
    </nav>
{% endblock %}
{% block content %}
    <h1 class="cover-heading">Новости игр.</h1>
    {% for post in posts %}
        <h1>{{post.title}}</h1>
        <h2> Краткое описание: {{post.description}}</h2>
        <h4>{{post.reviews}}</h4>
    {% endfor %}
    <p class="lead">
        <a href="/post_add" class="btn btn-lg btn-secondary">Добавить пост</a>
    </p>
{% endblock %}