{% extends 'base.html' %}
{% block navigation %}
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Новости игр</a>
        <a class="nav-link" href="/reviews">Обзоры игр</a>
    </nav>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
{% endblock %}
{% block content %}
<body class="text-center">
    <form class="form-signin" method="post" action="/post_add">

        <label class="sr-only" for="title"> Название игры </label>
        <input class="form-control" type="text" id="title" name="title" maxlength="50" required>

        <label class="sr-only" for="description"> Описание </label>
        <input class="form-control" type="text" id="description" name="description" required >

        <label class="sr-only" for="reviews"> Обзор </label>
        <input class="form-control" type="text" id="reviews" name="reviews" required>
        <br>
        <button class="btn btn-lg btn-secondary btn-block" type="submit"> Добавить </button>
    </form>
</body>
{% endblock %}