{% extends 'base.html' %}
{% block navigation %}
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/main">Новости игр</a>
        <a class="nav-link" href="/reviews">Обзоры игр</a>
    </nav>
{% endblock %}
{% block content %}
    <h1 class="cover-heading">Новости игр.</h1>
    <p class="lead">Тут будут некоторые посты.</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
{% endblock %}